* {
    box-sizing: border-box;
}


.geral {
    display: flex;
    flex-flow: column;
    align-items: center;

}

.maquina {
    display: flex;
    flex-flow: column;
    border: 3px solid rgb(0, 0, 0);
    height: 350px;
    width: 305px;
}

.telas {
    height: 100px;
    width: 299px;
    font-size: 30px;
    background-color: rgb(209, 209, 209);
    border-bottom: 3px solid black;
}

.digitos {
    margin-left: 3px;
}

.digitos button {
    width: 70px;
    height: 50px;
    font-size: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.digitos button:hover {
    font-size: 26px;
    background-color: rgb(209, 209, 209);
    border: 1px solid black;
}